.home-window {
  /* font-weight: 700; */
  overflow: auto;
}

.tutorial-window {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  font-weight: 700;
  align-items: center;
  margin-top: 50px;
}

.tutorial-window img {
  width: 700px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid black;
}

.warning {
  font-weight: 500;
}

.input-window {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

.code-window {
  text-align: center;
  margin-top: 350px;
}

.quiz-window {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.query {
  width: 420px;
}

.query img {
  padding: 5px 5px;
  width: 400px;
}

.query-description {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.candidate-images {
  overflow: auto;
  height: 83vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px 5px 5px 5px;
}

.candidate-images img {
  width: 430px;
  cursor: pointer;
}

.candidate-images img:hover {
  /* outline: 5px solid red; */
  box-shadow: 8px 8px 8px #ccc;
}

.candidate-images .selected {
  outline: 5px solid blue;
}

.candidate-images .correct {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.quiz-window h3 {
  margin-left: 10px;
}

.candidate-images .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label-warning {
  /* width: 80%; */
  margin: 20px 60px 0px 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  /* text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: brown; */
}

.end-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-size: 20px;
  font-weight: 600;
}

.end-image-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.end-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.end-image img {
  width: 500px;
  margin-top: 10px;
}

.slider {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.intro-warning {
  width: 1000px;
}
